{% extends "base.html" %}
{% block content %}
    <h1 align="center">Works log</h1>
    {% for job in jobs %}
        <h1>Action # {{loop.index}}</h1>
        <table class="table">
            <thead>
                <tr class="table-dark">
                    <th>
                        Title of activity
                    </th>
                    <th>
                        Team leader
                    </th>
                    <th>
                        Duration
                    </th>
                    <th>
                        List of collaborators
                    </th>
                    <th>
                        Is finished
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-primary">
                        {{job["title"]}}
                    </td>
                    <td class="table-primary">
                        {{job["leader"].surname}} {{job["leader"].name}}
                    </td>
                    <td class="table-primary">
                        {{job["duration"]}} hours
                    </td>
                    <td class="table-primary">
                        {{job["list_of_collaborators"]}}
                    </td>

                        {% if job["is_finished"]%}
                            <td class="table-success">
                                is finished
                            </td>
                        {% else %}
                            <td class="table-danger">
                                is not finished
                            </td>
                        {% endif %}
                </tr>
            </tbody>

        </table>
    {% endfor %}
{% endblock %}